<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ppaddict v2</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preload" href="/Cabin-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/htmx/user" as="fetch" crossorigin>
    <link rel="preload" href="/htmx/beatmaps/initial" as="fetch" crossorigin>
    <script src="htmx-2.0.10.min.js"></script>
    <script src="code.js"></script>
</head>
<body>
    <div class="header-bar">
        <h1>ppaddict+!r</h1>
        <div id="user-area" hx-get="/htmx/user" hx-trigger="load">Loading...</div>
    </div>
    <div class="table-container" hx-get="/htmx/beatmaps/initial" hx-trigger="load">Loading beatmaps...</div>
</body>

</html>
