config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.copyableAnnotations += org.tillerino.ppaddict.chat.IRCName
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.UserId
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.BeatmapId
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.BitwiseMods
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.GameMode