<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="org.pircbotx" level="error"/>
		<Logger name="org.eclipse.jetty" level="info"/>
		<Logger name="org.springframework" level="warn"/>
		<Logger name="org.jboss.logging" level="info"/>
		<Logger name="com.github.dockerjava" level="info"/>
		<Logger name="org.testcontainers" level="info"/>
		<Logger name="jndi" level="info"/>
		<Logger name="org.apache.http" level="info"/>
		<Logger name="io.netty" level="info"/>
		<Logger name="🐳 [mysql:5.7.34]" level="info"/>

		<Logger name="org.tillerino.irc" level="info"/>
	</Loggers>
</Configuration>